services:
  momentum:
    image: ghcr.io/abe238/2026-goals:latest
    restart: always
    labels:
      - traefik.enable=true
      - "traefik.http.routers.momentum.rule=Host(`2026.srv944870.hstgr.cloud`)"
      - traefik.http.routers.momentum.tls=true
      - traefik.http.routers.momentum.entrypoints=web,websecure
      - traefik.http.routers.momentum.tls.certresolver=mytlschallenge
      - traefik.http.services.momentum.loadbalancer.server.port=3000
    environment:
      NODE_ENV: production
    expose:
      - "3000"
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 512M
    networks:
      - default

networks:
  default:
    external: true
    name: root_default
